* {
    /* border: 1px solid burlywood; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-bg: rgb(0, 152, 212);
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr repeat(4, 1fr);
}

nav {
    background-color: var(--blue-bg);

    grid-column: 1;
    grid-row: 1 / 5;

    /* display: flex;
    flex-direction: column;
    gap: 10px; */

    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
    gap: 10px;
    padding: 5px 5px;
    align-items: start;
}

header, main {
    grid-column: 2 / span 3;
}

header {
    grid-row: 1 / 2;

    display: grid;
    gap: 10px;
}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 10px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-bottom-left {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header-top-left {
    display: grid;
    grid-template-columns: 1rem 3fr;
    align-items: center;
    justify-self: center;
    gap: 5px;
}

.header-top-left svg {
    justify-self: end;
}

main {
    grid-row: 2 / 6;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

.sidebar-actions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.sidebar-link {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr 5fr;

    font-size: 1rem;
    font-weight: 600;
    color: white;
    align-items: center;
}

.sidebar-link svg {
    color: white;
}

svg {
    width: 1rem;
}

.icon {
    width: 2rem;

    display: grid;
    align-items: center;
}

.icon svg {
    align-self: center;
    justify-self: center;
}

#logo svg {
    width: 2rem;
}

input#searchbar {
    background-color: hsl(0, 0%, 90%);
    border: 0px;
    border-radius: 8px;
    width: 300px;
}

.header-top-right {
    display: grid;
    grid-template-columns: repeat(2, 32px) 128px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header-top-right > * {
    justify-self: center;
}

#profile-picture {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#profile-picture > img {
    width: 36px;
}

#magnify {
    justify-self: end;
    width: 1rem;
}

#welcome-picture {
    width: 48px;
}

.action {
    color: white;
    background-color: var(--blue-bg);
    border: none;
    border-radius: 12px;

    padding: 4px 16px;
}