* {
    border: 1px solid burlywood;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

nav {
    background-color: skyblue;

    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    gap: 15px;
}

header {
    grid-column: 2 / span 3;
}

main {
    grid-column: 2 / span 3;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

.sidebar-actions-main, .siderbar-actions-configure {
    display: grid;
    grid-template-columns: 1fr;
}

.sidebar-link {
    display: flex;
    gap: 5px;

    font-size: 1rem;
    color: white;
}

.sidebar-link svg {
    color: white;
    width: 1rem;
}

#logo {
    align-items: center;
}

#logo svg {
    width: 1.5rem;
}